@keyframes fadeinout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.normal_loader_container {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal_loader_container svg {
  width: 56px;
  height: 56px;
  animation: fadeinout 2s ease-in-out infinite;
}

.normal_loader_container path {
  fill: #dedede;
}

.normal_loader_container circle {
  stroke: #dedede;
}
* {
  margin: 0;
  padding: 0;
}
