.slider-wrapper {
  background-color: #ffffff;
  // background: url(../../img/pngnetwork.jpg) center top no-repeat fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
  background: #ffffff url(../../img/homepage_banner.jpg) top right no-repeat;
  background-size: 64%;

  .slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(6, 161, 255, 0.9);
  }
}

.slider {
  padding: 0;
  position: relative;
  // background: url(../../img/homepage_banner.jpg) top right no-repeat;
  // background-size: contain;

  // .swiper-prev-btn {
  //   position: absolute;
  //   top: 50%;
  //   left: -45px;
  //   height: 30px;
  //   @include border-radius(100px);
  //   outline: none;
  //   width: 30px;
  //   display: inline-block;
  //   text-align: center;
  //   text-decoration: none;
  //   line-height: 78px;
  //   transform: translateY(-50%) rotate(90deg);
  //   background-image: url("../../img/arrow-icon.svg");
  //   background-repeat: no-repeat;
  //   background-position: 50% 50%;
  //   &.disabled {
  //     opacity: 0.5;
  //     pointer-events: none;
  //   }
  // }
  // .swiper-next-btn {
  //   position: absolute;
  //   display: inline-block;
  //   text-align: center;
  //   top: 50%;
  //   line-height: 78px;
  //   text-decoration: none;
  //   right: -45px;
  //   height: 30px;
  //   @include border-radius(100px);
  //   outline: none;
  //   width: 30px;
  //   transform: translateY(-50%) rotate(-90deg);
  //   background-image: url("../../img/arrow-icon.svg");
  //   background-repeat: no-repeat;
  //   background-position: 50% 50%;
  //   &.disabled {
  //     opacity: 0.5;
  //     pointer-events: none;
  //   }
  // }
  // .swiper-button-next,
  // .swiper-container-rtl .swiper-button-prev,
  // .swiper-button-prev,
  // .swiper-button-next {
  //   &:focus {
  //     outline: none;
  //   }
  // }

  // .swiper-button-next:after {
  //   outline: none;
  //   background: url("../../img/arrow.svg");
  //   width: 27px;
  //   height: 35px;
  //   text-align: center;
  //   background-repeat: no-repeat;
  //   background-position: -6px 0;
  //   content: "";
  //   background-size: 40px;
  //   transform: rotate(180deg);
  // }
  // .swiper-button-prev:after {
  //   outline: none;
  //   background: url("../../img/arrow.svg");
  //   width: 27px;
  //   height: 35px;
  //   text-align: center;
  //   background-repeat: no-repeat;
  //   background-position: -6px 0;
  //   content: "";
  //   background-size: 40px;
  // }
  .custom-slide {
    padding: 0px;

    .slider-content {
      display: flex;
      /* align-items: center; */
      padding: 150px 0;
      word-break: keep-all;
      width: 100%;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }

    .heading {
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.25;
      text-align: left;
      color: #292727;
    }

    .subheading {
      font-size: 18px;
      font-weight: 400;
      margin-top: 20px;
      text-transform: capitalize;
      line-height: 1.45;
      text-align: left;
      color: #292727;
    }

    .mt-48,
    .mv-48 {
      margin-top: 48px;
    }

    .HomePage__Banner__video {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;

      .HomePage__Banner__video__control {
        width: 84px;
        height: 84px;
        border-radius: 50%;
        background-color: rgba(0, 155, 255, 0.1);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-animation: pound 2s infinite;
        animation: pound 2s infinite;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;

        .HomePage__Banner__video__control__2 {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background-color: rgba(0, 155, 255, 0.2);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-animation: pound 2s infinite;
          animation: pound 2s infinite;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
        }
      }

      img {
        width: 50px;
        height: 50px;
        -webkit-animation: pound 1s infinite;
        animation: pound 1s infinite;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
    }

    .ml-12,
    .mh-12 {
      margin-left: 12px;
    }

    .HomePage__Banner__video__title {
      font-size: 16px;
      color: #5a5a5a;
      font-weight: 400;
    }

    .HomePage__Banner__video__title__subtext {
      font-weight: 500;
      font-size: 16px;
      color: #5a5a5a;
    }

    @keyframes pound {
      0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }

      50% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
    }

    // video {
    //   width: 100%;
    //   height: 100%;
    //   border-radius: 6px;
    //   object-fit: cover;
    //   outline: none;
    // }
    // .title {
    //   font-size: 26px;
    //   font-weight: 500;
    //   line-height: 2;
    //   letter-spacing: 2px;
    //   text-align: left;
    //   color: #4a4e4d;
    // }
    // .big-title {
    //   font-size: 84px;
    //   font-weight: 700;
    //   line-height: 0.87;
    //   text-align: left;
    //   color: #ffffff;
    // }
  }
}

.third-section {
  padding: 60px 0;
  background: #ffffff;

  .info-video {
    width: 100%;
    height: 100%;

    video {
      width: 100%;
      // height: 100%;
      border-radius: 6px;
      // max-width: 350px;
      // object-fit: cover;
      outline: none;
    }
  }

  .book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .heading {
    font-size: 36px;
    font-weight: 400;
    color: #4a4e4d;
    text-transform: uppercase;
  }

  .subheading {
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 29px;
    color: #4a4e4d;
  }

  .button a {
    border-radius: 5px;
    // box-shadow: 1px 1px 0 0 rgba(65, 23, 0, 0.5);
    background-color: #fe5b00;
    font-size: 14px;
    padding: 16px 30px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    color: #ffffff;
    margin-top: 50px;
    display: inline-block;
  }

  .book-image {
    max-width: 250px;
    margin: 0 auto;

    // min-height: 350px;
    img {
      // box-shadow: 5px 5px 10px #ccc;
    }
  }
}

.first-box-section {
  // margin-top: -50px;
  text-align: center;
  background: #04a0ff;

  .box {
    padding: 60px;
    background: #04a0ff;

    // border-radius: 10px;
    .heading {
      font-size: 36px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
    }

    .content {
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
      line-height: 1.67;
      margin-top: 20px;
    }

    a.button {
      // border-radius: 5px;
      // // box-shadow: 1px 1px 0 0 rgba(65, 23, 0, 0.5);
      // background-color: #fe5b00;
      // font-size: 14px;
      // padding: 16px 30px;
      // font-weight: 500;
      // line-height: 1.2;
      // text-transform: uppercase;
      // text-align: center;
      // outline: none;
      // color: #ffffff;
      margin-top: 50px;
      // display: inline-block;
    }
  }
}

.second-section {
  padding: 60px 0;

  .heading {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #4a4e4d;
  }

  .subheading {
    font-size: 22px;
    font-weight: 300;
    margin-top: 8px;
    line-height: 22px;
    margin-bottom: 80px;
    color: #4a4e4d;
    text-align: center;
  }

  .box {
    text-align: center;

    .icon {
      margin: 0 auto;
      width: 150px;
      height: 150px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .heading {
      font-size: 18px;
      margin-top: 20px;
      font-weight: 500;
      text-transform: uppercase;

      color: #4a4e4d;
    }

    .content {
      font-size: 16px;
      text-align: center;
      margin-top: 15px;
      font-weight: 400;
      color: #4a4e4d;
    }
  }

  // .button {
  //   display: flex;
  //   justify-content: center;

    a.button {
      // border-radius: 5px;
      // // box-shadow: 1px 1px 0 0 rgba(65, 23, 0, 0.5);
      // background-color: #fe5b00;
      // font-size: 14px;
      // padding: 16px 30px;
      // font-weight: 500;
      // line-height: 1.2;
      // text-transform: uppercase;
      // text-align: center;
      // outline: none;
      // color: #ffffff;
      margin-top: 90px;
      // display: inline-block;
    }
  // }
}

.left-section {
  // &.first {
  //   // background-image: url(../../img/section1.jpg);
  // }

  background-position: 0 0;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    padding: 40px 60px;
    background: #fafafa;

    .title {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
      color: #008ded;
    }

    .subtitle {
      margin-top: 18px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.76;
      text-align: left;
      color: #000000;
    }

    .button a {
      border-radius: 5px;
      // box-shadow: 1px 1px 0 0 rgba(65, 23, 0, 0.5);
      background-color: #fe5b00;
      font-size: 14px;
      padding: 16px 30px;
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
      outline: none;
      color: #ffffff;
      margin-top: 25px;
      display: inline-block;
    }
  }
}

.right-section {
  // &.first {
  //   // background-image: url(../../img/section2.jpg);
  // }

  background-position: 0 0;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    padding: 40px 60px;
    background: #fafafa;

    .title {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
      color: #008ded;
    }

    .subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.76;
      text-align: left;
      margin-top: 18px;
      color: #000000;
    }

    .button a {
      border-radius: 5px;
      // box-shadow: 1px 1px 0 0 rgba(65, 23, 0, 0.5);
      background-color: #fe5b00;
      font-size: 14px;
      padding: 16px 30px;
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
      outline: none;
      color: #ffffff;
      margin-top: 25px;
      display: inline-block;
    }
  }
}

.massage-container {
  margin-top: 50px;
  // background-color: #0097ff;
  background: #0097ff url(../../img/footer.png) center center no-repeat;
  background-size: cover;
  padding: 60px 0;

  &.home {
    margin-top: 0;
  }

  .heading {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 68px;
    text-align: left;
    color: #ffffff;
  }

  .subheading {
    font-size: 34px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    margin-top: 8px;
    text-align: left;
    color: #ffffff;
  }

  .form_wrapeer {
    width: 70%;
    margin: 0 auto;

    .label {
      font-size: 14px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 4px;
      text-align: left;
      display: block;

      span {
        color: red;
        font-size: 14px;
      }
    }

    input[type="text"],
    input[type="password"] {
      padding: 0 8px;
      width: 100%;
      height: 42px;
      letter-spacing: -0.53px;
      line-height: 42px;
      color: rgb(13, 13, 13);
      font-weight: 400;
      border: solid 1px #d0dae6;
      background-color: #f5f8fb;
      border-radius: 4px;
      font-family: $font !important;
      margin-bottom: 20px;
      font-size: 14px;
      outline: none;
    }

    input[type="checkbox"] {
      display: inline-block;
      outline: none;
    }

    .button {
      margin-top: 20px;
      background: #fe5b00;
      border-radius: 6px;
      border: none;
      width: 100%;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      color: #fff;
      padding: 16px 0px;
      font-size: 16px;
      font-weight: 400;
    }

    .input-wrap {
      position: relative;
    }

    .textara-level {
      color: #a6a6a6;
      font-size: 14px;
      font-weight: 500;

      margin-bottom: 4px;
      text-align: left;
      display: block;

      span {
        color: red;
        font-size: 18px;
      }
    }

    textarea {
      background: #f7f7f7;
      @include border-radius(6px);
      height: 150px;
      border: none;
      outline: none;
      border: solid 1px #d0dae6;

      resize: none;
      width: 100%;
      margin-top: 5px;
      padding: 10px;
      font-size: 14px;
    }

    .term {
      position: relative;
      text-align: left;

      label {
        color: rgba(0, 0, 0, 0.5);
        margin-left: 5px;
      }
    }

    .errorMsg {
      position: absolute;
      top: 44px;
      color: #ff7a7a;
      font-family: $font !important;
      font-size: 12px;
      display: block;
      font-weight: 500;

      &.error {
        top: 159px;
      }
    }
  }

  &.blog {
    background-color: rgba(0, 151, 255, 0.2);
    background-image: url(../../img/feedback.png);
    background-position: 0 0;
    background-size: cover;
    padding: 40px;

    .comment-heading {
      color: #008ded;
      font-size: 34px;
      margin-bottom: 10px;
    }

    .comment-subheading {
      margin-bottom: 30px;
      font-size: 16px;
    }

    .form_wrapeer {
      margin: 0;
      width: 75%;

      .button {
        width: auto;
        padding: 16px 60px;
      }
    }
  }
}

.client-container {
  margin-top: 50px;
  height: 100%;

  .client-Details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;

    .heading {
      font-size: 36px;
      font-weight: 500;
      text-align: left;
      color: #020202;
    }

    .subheading {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.48px;
      text-align: left;
      color: #008ded;
      margin-top: 10px;

      span {
        width: 56px;
        height: 2px;
        margin-right: 8px;
        background-color: #008af1;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .content {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.76;
      text-align: left;
      margin-top: 60px;
      color: #000000;
    }

    .client-name {
      font-size: 14px;
      font-style: italic;
      text-transform: capitalize;
      font-weight: 500;
      text-align: left;
      margin-top: 40px;
      color: #008bf1;
    }
  }
}