extends ./layout

block content
  div(style='background-color:transparent;')
    .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
      div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
            tr
              td(align='center')
                table(cellpadding='0' cellspacing='0' border='0' style='width:600px')
                  tr.layout-full-width(style='background-color:transparent')
        //if (mso)|(IE)
          td(align='center' width='600' style='background-color:transparent;width:600px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
            table(width='100%' cellpadding='0' cellspacing='0' border='0')
              tr
                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
        .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
          div(style='width:100% !important;')
            // [if (!mso)&(!IE)] <!
            div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
              // <![endif]
              .img-container.center.autowidth(align='center' style='padding-right: 0px;padding-left: 0px;')
                //if mso
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr(style='line-height:0px')
                      td(style='padding-right: 0px;padding-left: 0px;' align='center')
                a(href='https://loopinglobal.com/whyloopin' style='outline:none' tabindex='-1' target='_blank')
                  img.center.autowidth(src='https://loopinglobal.com/images/loopin5.jpg' title='Image' alt='Image' align='center' border='0' style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: none; width: 100%; max-width: 600px; display: block;' width='600')
                //if mso
              // [if (!mso)&(!IE)] <!
            // <![endif]
        //if (mso)|(IE)
        //if (mso)|(IE)
  div(style='background-color:transparent;')
    .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
      div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
            tr
              td(align='center')
                table(cellpadding='0' cellspacing='0' border='0' style='width:600px')
                  tr.layout-full-width(style='background-color:transparent')
        //if (mso)|(IE)
          td(align='center' width='600' style='background-color:transparent;width:600px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
            table(width='100%' cellpadding='0' cellspacing='0' border='0')
              tr
                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
        .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
          div(style='width:100% !important;')
            // [if (!mso)&(!IE)] <!
            div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
              // <![endif]
              //if mso
                table(width='100%' cellpadding='0' cellspacing='0' border='0')
                  tr
                    td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
              div(style="color:#555555;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:1.5;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;")
                div(style="font-size: 14px; line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #555555; mso-line-height-alt: 21px;")
                  p(style="text-align: center; line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    | Dear #{username}, We are glad to have you on board. Our aim is to make network marketing easy for every modern network marketer.
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")  
                  p(style="text-align: center; line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;") We are overflowing with happiness!
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")  
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    | Thanks for making this decision and making Loopin a part of your network marketing success journey.
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")  
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    | May you take your network to higher levels and Loopin your way through every little success.
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    strong
                      | You are officially a Looper! Click on this link below to get your access.
                    br
                    a(href=uniqueLink)
                      = uniqueLink
                    br
                    br
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    strong Thanks,
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    strong Team Loopin
              //if mso
              // [if (!mso)&(!IE)] <!
            // <![endif]
        //if (mso)|(IE)
        //if (mso)|(IE)
  div(style='background-color:transparent;')
    .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
      div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
            tr
              td(align='center')
                table(cellpadding='0' cellspacing='0' border='0' style='width:600px')
                  tr.layout-full-width(style='background-color:transparent')
        //if (mso)|(IE)
          td(align='center' width='600' style='background-color:transparent;width:600px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
            table(width='100%' cellpadding='0' cellspacing='0' border='0')
              tr
                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
        .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
          div(style='width:100% !important;')
            // [if (!mso)&(!IE)] <!
            div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
              // <![endif]
              .button-container(align='center' style='padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;')
                //if mso
                  table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                    tr
                      td(style='padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px' align='center')
                        v:roundrect(href='https://loopinglobal.com/whyloopin' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' style='height:31.5pt; width:127.5pt; v-text-anchor:middle;' arcsize='12%' stroke='false' fillcolor='#f45d01')
                          w:anchorlock
                            v:textbox(inset='0,0,0,0')
                              center(style='color:#ffffff; font-family:Arial, sans-serif; font-size:16px')
                a(href='https://loopinglobal.com/whyloopin', style='-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #ffffff; background-color: #f45d01; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; width: auto; width: auto; border-top: 1px solid #f45d01; border-right: 1px solid #f45d01; border-bottom: 1px solid #f45d01; border-left: 1px solid #f45d01; padding-top: 5px; padding-bottom: 5px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;', target='_blank')
                  span(style='padding-left:20px;padding-right:20px;font-size:16px;display:inline-block;')
                    span(style='line-height: 32px; word-break: break-word;') Start Loopin!
                //if mso
              // [if (!mso)&(!IE)] <!
            // <![endif]
        //if (mso)|(IE)
        //if (mso)|(IE)
        
