extends ./layout

block content
  div(style='background-color:transparent;')
    .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
      div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
            tr
              td(align='center')
                table(cellpadding='0' cellspacing='0' border='0' style='width:600px')
                  tr.layout-full-width(style='background-color:transparent')
        //if (mso)|(IE)
          td(align='center' width='600' style='background-color:transparent;width:600px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
            table(width='100%' cellpadding='0' cellspacing='0' border='0')
              tr
                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
        .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
          div(style='width:100% !important;')
            // [if (!mso)&(!IE)] <!
            div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
              // <![endif]
              .img-container.center.autowidth(align='center' style='padding-right: 0px;padding-left: 0px;')
                //if mso
                  table(width='100%' cellpadding='0' cellspacing='0' border='0')
                    tr(style='line-height:0px')
                      td(style='padding-right: 0px;padding-left: 0px;' align='center')
                a(href='https://loopin.thinkific.com/users/sign_in' style='outline:none' tabindex='-1' target='_blank')
                  img.center.autowidth(align='center' alt='Image' border='0' src='https://loopinglobal.com/images/ebook-payment.jpg' style='text-decoration: none; -ms-interpolation-mode: bicubic; height: auto; border: none; width: 100%; max-width: 600px; display: block;' title='Image' width='600')
                //if mso
              // [if (!mso)&(!IE)] <!
            // <![endif]
        //if (mso)|(IE)
        //if (mso)|(IE)
  div(style='background-color:transparent;')
    .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
      div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
            tr
              td(align='center')
                table(cellpadding='0' cellspacing='0' border='0' style='width:600px')
                  tr.layout-full-width(style='background-color:transparent')
        //if (mso)|(IE)
          td(align='center' width='600' style='background-color:transparent;width:600px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
            table(width='100%' cellpadding='0' cellspacing='0' border='0')
              tr
                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
        .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
          div(style='width:100% !important;')
            // [if (!mso)&(!IE)] <!
            div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
              // <![endif]
              //if mso
                table(width='100%' cellpadding='0' cellspacing='0' border='0')
                  tr
                    td(style='padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: Arial, sans-serif')
              div(style="color:#555555;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:1.5;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;")
                div(style="font-size: 14px; line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #555555; mso-line-height-alt: 21px;")
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    | Hi 
                    strong
                      = name
                    first(name=name) ,
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")  
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; font-size: 16px; mso-line-height-alt: 24px; margin: 0;")
                    span(style='font-size: 16px;')
                      strong Your transaction has been confirmed.
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")  
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    | There will be no more delay from our side as we want you to get up on your feet
                    br
                    | as fast as you can.
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")  
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    | Your network marketing success journey starts here and we are glad that it is
                    br
                    | with us.
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")  
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    | We have the copy of your ebook right here with us. Just click on the link below
                    br
                    | and start reading.
                  - if (loopin_credentials)
                      br
                      p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                        | Loopin account details:
                        br
                        strong email: 
                          = loopin_credentials.email
                        br
                        strong password: 
                          = loopin_credentials.password
                        br
                        br
                  - if (thinkific_credentials)
                      p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                        | Thinkific account details:
                        br
                        strong email: 
                          = thinkific_credentials.email
                        br
                        strong password: 
                          = thinkific_credentials.password
                        br
                        br
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    strong Thank You,
                  p(style="line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break: break-word; mso-line-height-alt: NaNpx; margin: 0;")
                    strong Team Loopin
              //if mso
              // [if (!mso)&(!IE)] <!
            // <![endif]
        //if (mso)|(IE)
        //if (mso)|(IE)
  div(style='background-color:transparent;')
    .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;')
      div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
        //if (mso)|(IE)
          table(width='100%' cellpadding='0' cellspacing='0' border='0' style='background-color:transparent;')
            tr
              td(align='center')
                table(cellpadding='0' cellspacing='0' border='0' style='width:600px')
                  tr.layout-full-width(style='background-color:transparent')
        //if (mso)|(IE)
          td(align='center' width='600' style='background-color:transparent;width:600px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;' valign='top')
            table(width='100%' cellpadding='0' cellspacing='0' border='0')
              tr
                td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
        .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;')
          div(style='width:100% !important;')
            // [if (!mso)&(!IE)] <!
            div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
              // <![endif]
              .button-container(align='center' style='padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;')
                //if mso
                  table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                    tr
                      td(style='padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px' align='center')
                        v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='https://loopin.thinkific.com/users/sign_in' style='height:31.5pt; width:267pt; v-text-anchor:middle;' arcsize='12%' stroke='false' fillcolor='#f45d01')
                          w:anchorlock
                            v:textbox(inset='0,0,0,0')
                              center(style='color:#ffffff; font-family:Arial, sans-serif; font-size:16px')
                a(href='https://loopin.thinkific.com/users/sign_in' style='-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #ffffff; background-color: #f45d01; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; width: auto; width: auto; border-top: 1px solid #f45d01; border-right: 1px solid #f45d01; border-bottom: 1px solid #f45d01; border-left: 1px solid #f45d01; padding-top: 5px; padding-bottom: 5px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;' target='_blank')
                  span(style='padding-left:20px;padding-right:20px;font-size:16px;display:inline-block;')
                    span(style='line-height: 32px; word-break: break-word;') Get started with Network Marketing 5.0
                //if mso
              // [if (!mso)&(!IE)] <!
            // <![endif]
        //if (mso)|(IE)
        //if (mso)|(IE)