@mixin border-box {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

a {
  text-decoration: none;
}

.bg-white {
  background: #fff;
}
.bg-black {
  background: #000;
}

* {
  margin: 0;
  padding: 0;
  @include border-box;
}

html,
body {
  width: 100%;
  // height: 100%;
  overflow-x: hidden;
}

body {
  background: #f4f4f4;
  font-family: $font !important;
  font-size: 14px !important;
}

img {
  width: 100%;
}

// padding fix for blog details page
ol {
  padding-left: 15px;
}

.wrapper {
  margin-top: 74px;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}

.full-w {
  width: 100% !important;
}
.full-h {
  height: 100%;
}
// Margins
.m-top {
  margin-top: $base-spacing-unit;
}
.m-bottom {
  margin-bottom: $base-spacing-unit;
}
.m-half--bottom {
  margin-bottom: $half-spacing-unit;
}
.m-half--ends {
  margin-top: $half-spacing-unit;
  margin-bottom: $half-spacing-unit;
}
.p-half--sides {
  padding-left: $half-spacing-unit !important;
  padding-right: $half-spacing-unit !important;
}

// Colors
.color-primary {
  color: $primary-color;
}
.color-white {
  color: #FFF !important;
}

// Fonts
.font-weight-normal {
  font-weight: normal;
}
.font-xl {
  font-size: 2.4rem;
}

//DISPLAYS
.d-inline-block {
  display: inline-block;
}

// Letter spacing
.ls-1 {
  letter-spacing: 1px;
}

.v-align-contents:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.v-align-contents {
  > * {
    vertical-align: middle;
    display: inline-block;
  }
  &--bottom {
    > * {
      vertical-align: bottom;
    }
  }
}

.header-component {
  background-color: #fff;
  height: 75px;
  color: #4a4e4d;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;

  &.active {
    box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.13);
  }

  .logo {
    width: 180px;
    display: flex;
    outline: none;
    height: 75px;

    img {
      justify-content: center;
    }
  }

  .nav {
    float: right;
    line-height: 75px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      float: left;
      position: relative;

      .mega-menu {
        opacity: 0;
        transition: all 0.5s ease;
      }

      .mega-menu-content {
        text-decoration: none;
        position: absolute;
        top: 74px;
        left: 0;
        background: #fafafa;
        margin: 0;
        padding: 20px 0;
        border-radius: 0 0 5px 5px;
        cursor: pointer;
        line-height: 20px;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: #4a4e4d;
      }

      .mega-menu.true {
        opacity: 1;
      }

      .dropbtn {
        display: block;
        color: #4a4e4d;
        text-transform: capitalize;
        font-size: 15px;
        cursor: pointer;
        font-weight: 400;
        margin: 0 25px;
        text-align: center;

        .arrow-down {
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #4a4e4d;
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
        }

        &:hover {
          color: #ff5900;

          .arrow-down {
            border-top: 5px solid #ff5900;
          }
        }
      }

      &:hover {
        .dropdown-content {
          display: block;
          // opacity: 1;
        }
      }

      .dropdown-content {
        // opacity: 0;
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 180px;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 5px 5px;

        z-index: 9999;
        padding: 15px 0;
        left: 50%;
        transform: translateX(-50%);

        div {
          text-decoration: none;
          display: block;
          margin: 0;
          padding: 15px 0;
          cursor: pointer;
          line-height: 20px;
          width: 100%;
          font-size: 16px;
          font-weight: 400;
          text-align: center;
          color: #4a4e4d;
        }

        // &.signout {
        //   left: 0;
        // }
      }

      .dropdown-content a {
        text-decoration: none;
        display: block;
        margin: 0;
        padding: 15px 0;
        line-height: 20px;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: #4a4e4d;

        &.active {
          color: #ff5900;
          font-weight: 400;
        }
      }

      .dropdown-content a:hover {
        color: #ff5900;
      }

      &.cart {
        position: relative;

        svg {
          width: 28px;
          height: 74px;
          display: flex;
          justify-content: center;

          g {
            path {
              fill: #4a4e4d;
            }
          }
        }

        .count {
          position: absolute;
          top: 0;
          right: 0;
          color: #fff;
          font-style: 12px;

          &:after {
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 100px;
            position: absolute;
            top: 15px;
            right: 15px;
            background: #ff5600;
          }

          span {
            position: absolute;
            top: -13px;
            font-size: 12px;
            right: 22px;
            z-index: 99;
          }
        }

        a {
          &:hover {
            color: #fff;
          }
        }
      }

      &.language {
        padding: 0 20px;
        background: #fafafa;
        cursor: pointer;

        .circle {
          width: 10px;
          height: 10px;
          margin-right: 2px;
          border-radius: 100px;
          background-color: #0097ff;
          display: inline-block;
          vertical-align: middle;
        }

        .arrow-down {
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #4a4e4d;
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
        }
      }

      &.active {
        >a {
          color: #ff5900;
          font-weight: 400;
        }

        .dropbtn {
          color: #ff5900;

          span.arrow-down {
            border-top: 5px solid #ff5900;
          }
        }
      }
    }

    li a {
      display: block;
      color: #4a4e4d;
      text-transform: capitalize;
      font-size: 16px;
      cursor: pointer;
      font-weight: 400;
      margin: 0 25px;
      text-align: center;
      text-decoration: none;

      &:hover {
        color: #ff5900;
      }

      .LoginBtn {
        font-size: 15px;
      }
    }
  }
}

.footer {
  padding: 40px 60px;
  background: #ffffff;

  .footer-link {
    ul {
      list-style: none;
      width: 33.33%;
      vertical-align: top;
      display: inline-block;

      li {
        width: 80%;
        margin: 4px 0;

        &.socail-icon {
          display: flex;
          margin-top: 20px;

          a {
            width: 20px;
            height: 20px;
            margin-right: 15px;
            display: flex;

            img {
              width: 100%;
            }

            &:last-child {
              margin-right: 0px;
            }
          }
        }

        &.title {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.67;
          text-align: left;
          color: #333333;
          text-transform: uppercase;
          margin-bottom: 9px;

          span {
            padding-bottom: 7px;
            padding-right: 30px;
            border-bottom: 1.5px solid rgb(230, 230, 230);
          }
        }

        a {
          font-size: 14px;
          font-weight: 500;
          line-height: 2;
          letter-spacing: normal;
          text-align: left;
          color: #333333;
        }
      }
    }
  }

  .footer-logo {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
  }
}

.login-container {
  text-align: center;

  .skip {
    margin-top: 15px;
    margin-right: 15px;
    text-decoration: underline;
    color: #4080f8;
    text-align: right;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
  }

  .login-title {
    text-align: left;
    margin-top: 15px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;

    a {
      color: $button-color;
    }
  }

  .divider {
    margin: 30px 0;

    .line {
      height: 2px;
      background: #cbd6e3;
      opacity: 0.5;
      width: 180px;
      vertical-align: middle;
      display: inline-block;
    }

    .or {
      margin: 0 10px;
      color: #cbd6e4;
      font-size: 16px;
    }
  }

  .g-btn {
    width: 50%;
    height: 40px;
    line-height: 40px;
    background: #ebebeb;
    max-width: 350px;
    margin: 15px auto;
    font-size: 14px;
    color: #4a4e4d;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

    img {
      width: auto;
      max-width: 100%;
      vertical-align: middle;
      margin-left: 5px;
      margin-right: 10px;
    }
  }

  .login-wrapper {
    margin-top: 30px;

    .header {
      font-size: 36px;
      font-weight: 300;
      color: #000000;
    }

    .subheader {
      font-size: 16px;
      margin-top: 10px;
      font-weight: 400;
      margin-bottom: 40px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .form_wrapeer {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;

    .label {
      font-size: 14px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 4px;
      text-align: left;
      display: block;

      span {
        color: red;
        font-size: 14px;
      }
    }

    input[type="text"],
    input[type="password"] {
      padding: 0 8px;
      width: 100%;
      height: 38px;
      letter-spacing: -0.53px;
      line-height: 38px;
      color: rgb(13, 13, 13);
      font-weight: 400;
      border: solid 1px #d0dae6;
      background-color: #f5f8fb;
      border-radius: 4px;
      font-family: $font !important;
      margin-bottom: 18px;
      font-size: 14px;
      outline: none;
    }

    input[type="checkbox"] {
      display: inline-block;
      outline: none;
    }

    .forgot-password {
      font-size: 13px;
      text-transform: uppercase;
      color: #ee844b;
      font-weight: 500;
      cursor: pointer;
      width: 100%;
      text-align: right;
    }

    .button {
      margin-top: 30px;
      background: #fe5b00;
      border-radius: 6px;
      border: none;
      width: auto;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      color: #fff;
      padding: 12px 40px;
      font-size: 16px;
      font-weight: 500;
    }

    .input-wrap {
      position: relative;
    }

    .term {
      position: relative;
      text-align: left;

      label {
        color: rgba(0, 0, 0, 0.5);
        margin-left: 5px;
      }
    }

    .errorMsg {
      position: absolute;
      top: 60px;
      color: #f53636;
      font-family: $font !important;
      font-size: 11px;
      display: block;
      font-weight: 500;
    }
  }

  .login-footer {
    text-align: center;

    .heading {
      font-size: 18px;
      font-weight: 400;
      margin-top: 10px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 20px;
    }

    .subheading {
      font-size: 12px;
      font-weight: 500;
      margin: 0 auto;
      width: 70%;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }

    .line-divider {
      height: 1.5px;
      background: #cbd6e3;
      opacity: 0.5;
      width: 406px;
      margin: 15px auto;
    }

    .copy {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 10px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.lopin-container {
  margin-top: 74px;

  .banner {
    position: relative;
    width: 100%;
    background-position: 0 0;
    background-size: cover;
    padding-top: 36%;
    min-height: 300px;
    background-color: #f0eded;

    &.banner1 {
      background-image: url("../../img/banner1.jpg");
    }

    &.banner2 {
      background-image: url("../../img/banner2.jpg");
    }

    &.banner3 {
      background-image: url("../../img/blog-1.jpg");
    }

    &.ebook {
      background-image: url("../../img/ebook-banner.jpg");
    }

    &.course {
      background-image: url("../../img/coursebanner.jpg");
    }

    &.blog {
      background-image: url("../../img/blog.jpg");

      .banner-content {
        .subtitle {
          font-size: 22px;
          color: #ededed;
          margin-top: 20px;
          line-height: 1.68;
        }
      }
    }

    img {
      min-height: 400px;
    }

    .banner-content {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .heading {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.51;
        letter-spacing: 2px;
        text-align: left;
        color: #ffffff;

        &.course {
          color: #4a4e4d;
          font-size: 36px;
        }
      }

      .subcontent {
        font-size: 20px;
        font-weight: 300;
        margin: 20px 0;
        font-style: normal;
        line-height: 1.57;
        text-align: left;
        color: #4a4e4d;
      }

      .download {
        width: 180px;
        height: 42px;
        margin-top: 40px;
        line-height: 42px;
        border-radius: 6px;
        text-transform: capitalize;
        cursor: pointer;
        background-color: #fe5b00;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  .content-details {
    padding: 60px 0;

    .heading {
      font-size: 32px;
      color: #4a4e4d;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 30px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background: #0097ff;
        bottom: 0;
        left: calc(50% - 20px);
      }
    }

    .title {
      font-size: 22px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 20px;
      font-style: italic;
      color: #4a4e4d;
    }

    .view-content {
      font-size: 18px;
      line-height: 1.87;
      text-align: left;
      color: #4a4e4d;

      // color: rgba(0, 0, 0, 0.8);
    }

    ul.point {
      margin-left: 28px;

      li {
        list-style: disc;
        font-size: 18px;
        line-height: 1.87;
        text-align: left;
        color: #4a4e4d;

        // color: rgba(0, 0, 0, 0.8);
      }
    }

    .subtitle {
      font-size: 22px;
      font-weight: 400;
      line-height: 1.27;
      text-align: left;
      margin-bottom: 40px;
      color: #4a4e4d;

      // color: rgba(0, 0, 0, 0.8);
    }

    .content {
      font-size: 16px;
      margin-top: 0px;
      font-weight: 400;
      line-height: 1.67;
      text-align: left;
      color: #4a4e4d;

      // color: rgba(0, 0, 0, 0.8);
      .subheading {
        font-size: 26px;
        font-weight: 500;
        text-align: left;
        line-height: 1.2;
        margin-bottom: 20px;
        color: #4a4e4d;

        // color: #0098ff;
      }
    }

  }

  /* blog page css start here*/
  .blog-container {
    padding: 50px 0;
    position: relative;
    width: 100%;
    // background: #fff;

    .blog {
      border-radius: 5px;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16);
      margin-bottom: 50px;

      .blog-image {
        background-image: url(../../img/whatisloopin.jpg);
        padding-top: 55%;
        border-radius: 5px 5px 0 0px;
        background-size: cover;
        background-position: 0 0;
      }

      .blog-content {
        padding: 22px;

        .blog-date {
          font-size: 15px;
          font-weight: 300;
          font-style: italic;
          text-align: left;
          color: #000000;
        }

        .blog-heading {
          font-size: 20px;
          margin-top: 15px;
          font-weight: 500;
          text-align: left;
          color: #4a4e4d;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .blog-subheading {
          font-size: 18px;
          margin-top: 20px;
          font-weight: 400;
          line-height: 1.75;
          text-align: left;
          color: #4a4e4d;

          p:first-child {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
      }

      &.blog-details {
        margin-bottom: 0;
        box-shadow: none;

        .blog-heading {
          font-size: 24px;
        }

        .blog-content {
          padding: 0 40px 0 0;

        }

        .blog-subheading {
          font-size: 16px;

          p.block_3 {
            font-size: 16px;
            margin-top: 20px;
            font-weight: 500;
            margin-bottom: 10px;
          }

          p.block_2 {
            font-size: 16px;
            margin-top: 20px;
            font-weight: 500;
            margin-bottom: 10px;
          }

          ol.list_ {
            font-weight: 500;
            margin-top: 20px;
            margin-bottom: 10px;
          }
        }
      }
    }

    .latest-news {
      .news-heading {
        font-size: 25px;
        font-weight: 500;
        text-align: left;
        color: #008ded;
        margin-bottom: 36px;
      }

      .news {
        clear: both;
        margin-bottom: 40px;

        .news-image {
          width: 55px;
          height: 55px;
          border-radius: 5px;
          margin-right: 20px;
          background-color: #d6d2d2;
          float: left;
        }

        .news-content {
          font-size: 18px;
          font-weight: 400;
          line-height: 1.14;
          text-align: left;
          color: #000000;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .pagination li {
    display: inline-block;
    margin: 0 8px;

    &.previous {
      cursor: pointer;

      a {
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        color: #a2a1a1;
      }

      &.disabled {
        pointer-events: none;

        a {
          color: #2a4469;
          opacity: 0.5;
        }
      }
    }

    &.next {
      cursor: pointer;

      a {
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        color: #a2a1a1;
      }

      &.disabled {
        pointer-events: none;

        a {
          opacity: 0.5;
        }
      }
    }
  }

  .pagination li a {
    float: left;
    padding: 8px 10px;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 2px;
    color: #a2a1a1;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
  }

  .pagination li.active a {
    color: #000;
  }

  select:required:invalid {
    color: rgb(155, 155, 155);
  }

  option[value=""][disabled] {
    display: none;
  }

  .pagination span:hover:not(.active) {
    color: #000;
  }
}

/* sticky chatbox */
.chatbox {
  position: fixed;
  right: 40px;
  text-align: center;
  bottom: 20px;
  width: 50px;
  font-weight: 500;
  cursor: pointer;
  font-size: 12px;
  color: #ff5a00;
  z-index: 9999;
}

/*************** start pricing page css ************/

.pricing-container {
  margin-top: 75px;
  padding-bottom: 60px;

  .price-heading {
    font-size: 32px;
    font-weight: 400;
    margin: 30px 0 15px 0;
    text-align: center;
    color: #272727;
  }
}

.pricing-table {
  width: 100%;
  max-width: 1040px;
  // margin: 30px auto 30px auto;
  font-family: "Arial";
}

.pricing-table ul {
  width: 33%;
  text-align: center;
  background: #fff;
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 99;
  position: relative;
}

.pricing-table ul.highlight-low {
  margin-right: -5px;
}

.pricing-table ul.highlight-low .heading {
  font-size: 22px;
  padding: 15px 0;
  // border: 2px solid #4bd4fc;
  border-radius: 5px 5px 0 0;
  background-color: #4bd4fc;
  background-image: -moz-linear-gradient(top, #73e0ff, #4bd4fc);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: -webkit-gradient(linear,
      0 0,
      0 100%,
      from(#73e0ff),
      to(#4bd4fc));
  background-image: -webkit-linear-gradient(top, #73e0ff, #4bd4fc);
  background-image: -o-linear-gradient(top, #73e0ff, #4bd4fc);
  background-image: linear-gradient(to bottom, #73e0ff, #4bd4fc);
  background-repeat: repeat-x;
}

.pricing-table ul.highlight-low .price {
  background: #f1f1f1;
  // border-left: 2px solid #4bd4fc;
  // border-right: 2px solid #4bd4fc;
  font-size: 20px;
  padding: 15px 0;
}

// .pricing-table ul.highlight-low .feature {
//   // border-left: 2px solid #4bd4fc;
//   // border-right: 2px solid #4bd4fc;
// }
.pricing-table ul.highlight-low .feature span {
  padding: 12px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  display: block;
  font-size: 100%;
}

.pricing-table ul.highlight-low .feature:nth-last-child(2) span {
  border-bottom: 0px !important;
}

.pricing-table ul.highlight-low .call-to-action {
  background: #f1f1f1;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  // border: 2px solid #4bd4fc;
  border-top: 0px;
  padding: 15px 0;

  span {
    height: 40px;
    padding: 0 30px;
    display: inline-block;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    background-color: #fe5b00;
  }
}

.pricing-table ul.highlight-high {
  z-index: 100;
  // margin-top: -20px;
}

.pricing-table ul.highlight-high .heading {
  font-size: 22px;
  padding: 24px 0;
  // border: 2px solid #07b2ff;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #07b2ff;
  background-image: -moz-linear-gradient(top, #7cd0ff, #21507d);
  background-image: -webkit-gradient(linear,
      0 0,
      0 100%,
      from(#7cd0ff),
      to(#07b2ff));
  background-image: -webkit-linear-gradient(top, #7cd0ff, #07b2ff);
  background-image: -o-linear-gradient(top, #7cd0ff, #07b2ff);
  background-image: linear-gradient(to bottom, #7cd0ff, #07b2ff);
  background-repeat: repeat-x;
  color: #fff;
}

.pricing-table ul.highlight-high .price {
  background: #f1f1f1;
  // border-left: 2px solid #07b2ff;
  // border-right: 2px solid #07b2ff;
  font-size: 20px;
  padding: 15px 0;
}

// .pricing-table ul.highlight-high .feature {
//   // border-left: 2px solid #07b2ff;
//   // border-right: 2px solid #07b2ff;
// }
.pricing-table ul.highlight-high .feature span {
  padding: 12px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  display: block;
  font-size: 100%;
}

.pricing-table ul.highlight-high .feature:nth-last-child(2) span {
  border-bottom: 0px !important;
}

.pricing-table ul.highlight-high .call-to-action {
  background: #f1f1f1;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  // border: 2px solid #07b2ff;
  border-top: 0px;
  padding: 24px 0;

  span {
    height: 40px;
    padding: 0 30px;
    display: inline-block;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    background-color: #fe5b00;
  }
}

.pricing-table ul.highlight-medium {
  margin-left: -5px;
}

.pricing-table ul.highlight-medium .heading {
  font-size: 22px;
  padding: 15px 0;
  // border: 2px solid #009cff;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #6dbfff;
  background-image: -moz-linear-gradient(top, #0067b7, #009cff);
  background-image: -webkit-gradient(linear,
      0 0,
      0 100%,
      from(#0067b7),
      to(#009cff));
  background-image: -webkit-linear-gradient(top, #6dbfff, #009cff);
  background-image: -o-linear-gradient(top, #6dbfff, #009cff);
  background-image: linear-gradient(to bottom, #6dbfff, #009cff);
  background-repeat: repeat-x;
  color: #fff;
}

.pricing-table ul.highlight-medium .price {
  background: #dfe9f0;
  // border-left: 2px solid #009cff;
  // border-right: 2px solid #009cff;
  font-size: 20px;
  padding: 15px 0;
}

// .pricing-table ul.highlight-medium .feature {
//   // border-left: 2px solid #009cff;
//   // border-right: 2px solid #009cff;
// }
.pricing-table ul.highlight-medium .feature span {
  padding: 12px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  display: block;
  font-size: 100%;
}

.pricing-table ul.highlight-medium .feature:nth-last-child(2) span {
  border-bottom: 0px !important;
}

.pricing-table ul.highlight-medium .call-to-action {
  background: #f0f0f0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  // border: 2px solid #009cff;
  border-top: 0px;
  padding: 15px 0;

  span {
    height: 40px;
    padding: 0 30px;
    display: inline-block;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    background-color: #fe5b00;
  }
}

/********************* car css start here ***********************/

.cart-container {
  margin-top: 75px;

  .cart-details {
    padding: 40px;

    .breadcrumbs {
      ul {
        list-style: none;

        li {
          list-style: none;
          display: inline-block;
          font-weight: 500;
          color: #909090;

          &.active {
            color: #000000;
          }

          &.arrow {
            display: inline-block;
            width: 9px;
            height: 9px;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
            transform: rotate(45deg);
            margin-right: 8px;
          }
        }
      }
    }

    .payment {
      width: 100%;
      border-top: 1.5px solid #d8d6d6;
      margin-top: 26px;
      clear: both;

      .first-section {
        width: 70%;
        float: left;
        border-right: 1.5px solid #d8d6d6;

        .heading {
          padding: 20px 0;
          font-size: 18px;
          font-weight: 500;
          text-align: left;
          color: #000000;
        }

        table {
          border-collapse: collapse;
          width: 95%;
        }

        th {
          padding: 12px 0;
          border-top: 2px solid #d8d6d6;
          border-bottom: 2px solid #d8d6d6;
          text-align: center;
          color: #909090;
          font-weight: 400;
          font-size: 16px;
        }

        td {
          text-align: center;
          padding: 16px 0;
          font-size: 16px;
          font-weight: 400;

          .unit-price {
            color: #0086f5;
            font-weight: 500;
            font-size: 18px;
          }

          .product-image {
            width: 100px;
            height: 68px;
            border-radius: 2px;
            background-color: #ddd6d6;
          }
        }

        .choose-payment {
          width: 95%;

          .heading {
            padding: 20px 0;
            border-top: 1.5px solid #d8d6d6;
            border-bottom: 1.5px solid #d8d6d6;

            font-size: 18px;
            font-weight: 500;
            text-align: left;
            color: #000000;
          }

          .rwt__tab[aria-selected="false"]:hover,
          .rwt__tab:focus {
            background: #fff;
            color: #008ded;
            // border-left: 6px solid #008af1;
          }

          .rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
            border-right: none;
            left: 0;
            border-left: 6px solid #008af1;
          }

          .rwt__tab[aria-selected="true"] {
            background: #fff;
          }

          .rwt__tab {
            width: 250px;
            color: #000000;
            cursor: pointer;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            height: 68px;
            border: solid 0.5px #e4e4e6;
            background: #eaeaec;
          }

          .rwt__tabs {
            margin: 40px 0;

            .rwt__tablist {
              margin-right: 40px;
              // button {
              //   &:focus {
              //     background: #fff;
              //   }
              // }
            }
          }

          // .tab {
          //   margin: 40px 0;
          //   .list {
          //     width: 250px;
          //     line-height: 68px;
          //     color: #000000;
          //     cursor: pointer;
          //     font-size: 12px;
          //     text-align: center;
          //     text-transform: uppercase;
          //     font-weight: 500;
          //     height: 68px;
          //     border: solid 1px #eaeaec;
          //     background-color: #f4f4f5;
          //   }
          // }
        }
      }

      .last-section {
        width: 30%;
        padding-left: 30px;
        float: left;

        .heading {
          padding: 20px 0;
          font-size: 19px;
          font-weight: 500;
          text-align: left;
          color: #000000;
        }

        table {
          width: 100%;
          border-top: 2px solid #d8d6d6;

          td {
            padding: 12px 0;
            color: #909090;
            font-weight: 400;
            font-size: 16px;

            &:first-child {
              text-align: left;
            }

            &:last-child {
              text-align: right;
            }

            &.total {
              font-size: 18px;
              font-weight: 400;
              color: #000;
              border-top: 2px solid #d8d6d6;
            }
          }
        }
      }
    }
  }

  .emptycart {
    width: 100%;
    padding: 100px 0;
    text-align: center;

    .cart-image {
      width: 100%;

      img {
        width: 200px;
        height: 200px;
      }
    }

    .cart-text {
      width: 100%;
      text-align: center;
      margin-top: 8px;
      font-size: 18px;
      color: #4a4e4d;
    }

    .subheading {
      width: 100%;
      text-align: center;
      margin-top: 8px;

      font-size: 16px;
      color: #4a4e4d;
    }

    .button {
      margin-top: 40px;

      a {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        padding: 12px 40px;
        background: #fe5b00;
        border-radius: 6px;
        width: 200px;
        margin: 0px auto;
        border: none;
        cursor: pointer;
        outline: none;
        text-transform: uppercase;
      }
    }
  }
}

/*** error page design *******/
.wrapper.error {
  padding-top: 80px;
  background: #fff;
  text-align: center;

  .heading {
    font-size: 46px;
    color: #2b2b2b;
  }

  .subheading {
    font-size: 32px;
    color: #2b2b2b;
  }

  .goback {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-top: 60px;
    width: 180px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 0 0 rgba(65, 23, 0, 0.44);
    background-color: #fe5b00;
  }

  .image-container {
    min-height: 350px;
    position: relative;
    background-image: url(../../img/image-errors.jpg);
    background-position: 50% -15%;

    .image-first {
      min-height: 350px;
      position: relative;
      background-image: url(../../img/image-21.png);
      background-repeat: no-repeat;
      background-position: 30% -50%;
    }
  }
}

.pdf-container {
  position: relative;

  .pdf {
    padding: 40px 0 0 0;
    // .mobile__pdf__container {
    //   position: relative;
    // }
    // .mobile__pdf__container__header {
    //   z-index: 999;
    //   width: 100%;
    //   position: absolute;
    //   background: #000;
    //   color: #fff;
    //   top: 0;
    //   /* padding: 10px 0; */
    //   height: 40px;
    //   line-height: 38px;
    // }
    // #viewerContainer {
    //   margin-top: 50px;
    // }
  }

  .goBack {
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 20px;
    color: #0097ff;
    z-index: 9999;
    background: #fff;
    width: 100%;
  }

  i {
    border: solid #0097ff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}

.about-container {
  margin-top: 75px;
  position: relative;

  #about-first {
    padding: 60px 0;

    .section-header {
      h3 {
        font-size: 32px;
        color: #4a4e4d;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        position: relative;
        padding-bottom: 15px;

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 40px;
          height: 3px;
          background: #0097ff;
          bottom: 0;
          left: calc(50% - 20px);
        }

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 120px;
          height: 1px;
          background: #ddd;
          bottom: 1px;
          left: calc(50% - 60px);
        }
      }

      p {
        text-align: center;
        padding: 30px 0;
        font-size: 18px;
        color: #333;
      }
    }

    .about-details {
      .heading {
        font-size: 36px;
        color: #4a4e4d;
        font-weight: 400;
        letter-spacing: 1.87;
        text-transform: capitalize;
      }

      .subheading {
        font-size: 18px;
        color: #666666;
        line-height: 1.6;
        margin-top: 20px;
        font-weight: 400;
        margin-bottom: 20px;
      }
    }

    .bullets {
      .name {
        font-size: 18px;
        color: #4a4e4d;
        font-weight: 500;
        margin-top: 20px;
        letter-spacing: 1.87;
        text-transform: capitalize;
      }

      .content {
        font-size: 18px;
        color: #666666;
        line-height: 1.6;
        margin-top: 10px;
        font-weight: 400;
        margin-bottom: 10px;
      }

      &.value {
        .name {
          // font-size: 16px;

          &.first {
            margin-top: 0;
          }
        }
      }
    }
  }

  .aboutus {
    background: url(../../img/about.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    min-height: 450px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  #about {
    background: url(../../img/about-bg.jpg) center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.92);
      z-index: 9;
    }

    .container {
      position: relative;
      z-index: 10;
    }

    .section-header {
      h3 {
        font-size: 32px;
        color: #4a4e4d;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        position: relative;
        padding-bottom: 15px;

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 40px;
          height: 3px;
          background: #0097ff;
          bottom: 0;
          left: calc(50% - 20px);
        }

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 120px;
          height: 1px;
          background: #ddd;
          bottom: 1px;
          left: calc(50% - 60px);
        }
      }

      p {
        text-align: center;
        padding: 30px 0;
        font-size: 16px;
        color: #333;
      }
    }

    .about-col {
      background: #fff;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
      margin-bottom: 20px;

      .img {
        position: relative;

        .img-fluid {
          max-width: 100%;
          height: auto;
        }

        img {
          border-radius: 4px 4px 0 0;
        }

        .icon {
          width: 64px;
          height: 64px;
          padding-top: 8px;
          text-align: center;
          position: absolute;
          background-color: #0097ff;
          border-radius: 50%;
          text-align: center;
          border: 4px solid #fff;
          left: calc(50% - 32px);
          bottom: -30px;
          transition: 0.3s;
          display: none;

          i {
            font-size: 36px;
            line-height: 1;
            color: #fff;
            transition: 0.3s;
          }
        }
      }

      h2 {
        color: #4a4e4d;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        padding: 0;
        margin: 20px 0 12px;

        a {
          color: #000;
        }
      }

      p {
        font-size: 14px;
        line-height: 24px;
        color: #4a4e4d;
        margin-bottom: 0;
        padding: 0 20px 20px;
        min-height: 130px;
      }
    }
  }
}

.testimonial {
  padding: 60px 0;

  .infoDetails {
    margin-bottom: 146px;
    margin-top: 120px;
  }

  .text {
    @include border-radius(8px);
    padding: 30px;
    color: rgb(13, 13, 13);
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;

    .up {
      color: #efefef;
      position: absolute;
      top: 20px;
      left: -64px;
      font-size: 140px;
    }

    .down {
      color: #efefef;
      position: absolute;
      bottom: 110px;
      right: -56px;
      font-size: 140px;
    }
  }

  .name {
    text-align: center;
    margin-top: 33px;

    .subtitle {
      color: rgb(94, 94, 94);
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      margin-top: 3px;
    }

    .title {
      color: rgb(46, 46, 46);
      font-size: 16px;
      font-weight: 500;
    }
  }

  .info-container {

    // margin-bottom: 146px;
    // margin-top: 120px;
    .heading {
      color: rgb(10, 10, 10);
      font-size: 36px;
      font-weight: 400;
      line-height: 54px;
      text-transform: capitalize;
      text-align: center;

      strong {
        font-weight: 400;
      }
    }

    .subheading {
      // @extend .fifty-percent-black;
      color: rgb(175, 175, 175);
      font-size: 18px;
      text-align: center;
      margin-top: 4px;
      font-weight: 400;
    }
  }
}

.testmonial-outer-wrap {
  background: url(../../img/Quotes.svg);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center 52px;
  background-repeat: no-repeat;

  .swiper-prev-btn {
    position: absolute;
    top: 50%;
    left: -45px;
    height: 30px;
    @include border-radius(100px);
    outline: none;
    width: 30px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 78px;
    transform: translateY(-50%) rotate(90deg);
    background-image: url("../../img/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .swiper-next-btn {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 50%;
    line-height: 78px;
    text-decoration: none;
    right: -45px;
    height: 30px;
    @include border-radius(100px);
    outline: none;
    width: 30px;
    transform: translateY(-50%) rotate(-90deg);
    background-image: url("../../img/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev,
  .swiper-button-prev,
  .swiper-button-next {
    &:focus {
      outline: none;
    }
  }

  .swiper-button-next:after {
    outline: none;
    background: url("../../img/arrow.png");
    width: 27px;
    height: 40px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: -6px 0;
    content: "";
    background-size: 40px;
  }

  .swiper-button-prev:after {
    outline: none;
    background: url("../../img/arrow.png");
    width: 27px;
    height: 40px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: -6px 0;
    content: "";
    background-size: 40px;
    transform: rotate(180deg);

  }

  .custom-test {
    padding: 50px 0;
  }

  .swiper-container {
    padding-bottom: 66px;

    .swiper-pagination.customized-swiper-pagination {
      bottom: -3px;

      .swiper-pagination-bullet-active {
        background: transparent;
      }

      .swiper-pagination-bullet {
        width: 80px;
        height: 80px;
        margin: 0 12px;
        background: none;

        &:nth-child(1) {
          background-image: url("../../img/placeholder/2.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }

        &:nth-child(2) {
          background-image: url("../../img/placeholder/1.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }

        // &:nth-child(3) {
        //   background-image: url("../../img/placeholder/1.jpg");
        //   background-repeat: no-repeat;
        //   background-size: cover;
        // }
        // &:nth-child(4) {
        //   background-image: url("../../img/placeholder/4.png");
        //   background-repeat: no-repeat;
        //   background-size: cover;
        // }
        // &:nth-child(5) {
        //   background-image: url("../../img/placeholder/1.jpg");
        //   background-repeat: no-repeat;
        //   background-size: cover;
        // }
      }
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.87);
  z-index: 999999;
  padding: 3% 15%;
}

.popup_inner {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #000;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  ;

  video {
    width: 100%;
    border-radius: 6px;
    // object-fit: cover;
    height: 100%;
  }

  .vodal-close {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: -30px;
    width: 24px;
    height: 24px;
    z-index: 9999;
    border-radius: 50%;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;

    &::before {
      position: absolute;
      content: "";
      height: 2px;
      width: 30px;
      top: 12px;
      left: 1px;
      margin-top: -1px;
      background: rgba(255, 255, 255, 0.75);
      -webkit-transition: background 0.2s;
      transition: background 0.2s;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 30px;
      top: 12px;
      left: 1px;
      margin-top: -1px;
      background: rgba(255, 255, 255, 0.75);
      -webkit-transition: background 0.2s;
      transition: background 0.2s;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.faq {
  margin-top: 75px;
  padding: 70px 0;

  .subheading {
    // @extend .fifty-percent-black;
    color: rgb(175, 175, 175);
    font-size: 18px;
    text-align: center;
    margin-top: 14px;
    font-weight: 400;
  }

  .heading {
    font-size: 32px;
    color: #4a4e4d;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;



    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: #0097ff;
      bottom: 0;
      left: calc(50% - 20px);
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }
  }

  .wrapper {
    .question {
      color: #4a4e4d;
      font-weight: 500;
      font-size: 18px;
      margin-top: 30px;
      letter-spacing: 1.87;
      text-transform: capitalize;
    }

    .answer {
      font-size: 16px;
      color: #666666;
      line-height: 1.6;
      margin-top: 10px;
      font-weight: 400;
      margin-bottom: 10px;

      ol {
        margin-left: 30px;
        margin-top: 15px;
      }
    }
  }
}

.sample-book {
  padding: 60px;
  background: #0097ff;

  .heading {
    color: #ffffff;
    font-size: 26px;
  }

  .subheading {
    font-weight: 300;
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
  }

  .preview {
    text-align: center;
    position: relative;
    height: 100%;

    .button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      a {
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        padding: 14px 30px;
        background: #fe5b00;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        outline: none;
        text-transform: uppercase;
      }
    }
  }
}

.about-author {
  padding: 50px 0 150px 0;

  .heading {
    font-size: 32px;
    color: #4a4e4d;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    position: relative;
    padding-bottom: 15px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: #0097ff;
      bottom: 0;
      left: calc(50% - 20px);
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #ddd;
      bottom: 1px;
      left: calc(50% - 60px);
    }
  }

  .visionary-section {
    margin-top: 70px;
    padding: 40px 30px 0 30px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }

    .wrap {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .visionary-imgb {
      width: 160px;
      height: 150px;
      border-radius: 100px;
      background: #4a4e4d;
      background-size: cover;

      &.sajeev {
        background-image: url(../../img/profile.png);
      }
    }

    .visionary-txtb {
      font-size: 20px;
      color: #59595c;
      width: 70%;

      margin-left: 20px;
      margin-top: 10px;
      font-weight: 400;

      span {
        display: block;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 4px;
      }
    }

    p {
      font-size: 14px;
      color: #59595c;
      line-height: 22px;
      margin-top: 30px;
    }
  }
}


.error-message {
  color: red;
  font-size: 14px;
  margin-top: 20px;
  width: 100%;
}

.loader_container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #FFF;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FFF transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.social-icon {
  img.hovered {
    display: none;
  }
  &:hover {
    img {
      display: none;
      &.hovered {
        display: initial;
      }
    }
  }
}

.loader {
  min-height: 100%;
  transition: all 0.3s ease-out 0s;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  .lds-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form_wrapeer.purchase-form {
  width: 100%;
  padding: 30px;
  max-width: 600px;
  border-radius: 6px;
  background: #e2e2e2;
  margin: 0 auto;

  .offer {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-align: center;
    color: #2b2b2b;

    span {
      font-size: 28px;
      font-weight: 700;
      letter-spacing: normal;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      text-align: center;
      color: #14c745;
    }
  }

  .heading {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 15px 0;
    text-align: center;
    color: #2b2b2b;
    margin-bottom: 0;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .label {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 4px;
    text-align: left;
    display: block;

    span {
      color: red;
      font-size: 14px;
    }
  }

  input[type="text"],
  input[type="password"] {
    padding: 0 8px;
    width: 100%;
    height: 42px;
    letter-spacing: -0.53px;
    line-height: 42px;
    color: rgb(13, 13, 13);
    font-weight: 400;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    font-family: $font !important;
    margin-bottom: 12px;
    font-size: 14px;
    outline: none;
  }

  input[type="checkbox"] {
    display: inline-block;
    outline: none;
  }

  .input-wrap {
    position: relative;
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .term {
    position: relative;
    text-align: left;

    label {
      color: rgba(0, 0, 0, 0.5);
      margin-left: 5px;
    }
  }

  .errorMsg {
    position: absolute;
    top: 43px;
    color: #f53636;
    font-family: $font !important;
    font-size: 12px;
    display: block;
    font-weight: 500;
  }
}

.button {
  // margin: 10px auto;
  background: #fe5b00;
  border-radius: 6px;
  border: none;
  // width: 60%;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 20px;
  font-size: 14px;
  font-weight: 500;
}