/* fonts */
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato-Black.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato-Bold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "lato";
  src: url("../../fonts/Lato-Thin.ttf");
  font-weight: 200;
}

