$primary-color: #008ded;
$button-color: #fe5b00;
$secondary-color: #fafafa;
$black: #000;
$white: #fff;
$font: "lato";

$base-spacing-unit: 22px !default;
$half-spacing-unit: $base-spacing-unit / 2 !default;
$quarter-spacing-unit: $half-spacing-unit / 2 !default;
