// @media screen and (max-width: 768px) and (orientation: landscape) {
//   body {
//     background-color: #fff;
//     background-size: 85%;
//     background-image: url("../../img/portrait.jpg");
//     background-repeat: no-repeat;
//     background-position: center 0;
//     opacity: 0;
//     position: fixed !important;
//   }
// }

@media screen and (max-width: 768px) {
  .mobile-view {
    text-align: center;
    margin-top: 50px;
    padding: 40px 15px;

    .heading {
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.25;
      color: #292727;
    }

    .subheading {
      font-size: 14px;
      font-weight: 400;
      margin-top: 16px;
      text-transform: capitalize;
      line-height: 1.45;
      color: #292727;
    }

    .video-view {
      width: 100%;

      video {
        width: 100%;
        border-radius: 6px;
        margin-top: 30px;
      }
    }
  }

  .header-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    background: #eee;
    height: 50px;
    line-height: 50px;
    z-index: 999999;

    &.active {
      box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.13);
    }

    .logo {
      width: 150px;
      margin: 0 auto;
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
    }

    .cart {
      height: 46px;
      justify-content: center;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding-right: 15px;

      svg {
        width: 28px;
        height: 30px;
        float: right;

        g {
          path {
            fill: #4a4e4d;
          }
        }
      }
    }
  }

  .wrapper {
    margin-top: 50px;
  }

  .slider-wrapper {
    // background: none;

    .custom-slide {
      padding: 0px 0 50px 0;

      .slider-content {
        padding: 0;
      }

      .title {
        text-align: center;
        font-size: 18px;
        color: #ffffff;
      }

      .big-title {
        text-align: center;

        font-size: 28px;
      }

      video {
        margin-top: 30px;
      }
    }

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      outline: none;
    }
  }

  .second-section {
    padding: 40px 0;

    .heading {
      font-size: 22px;
    }

    .subheading {
      font-size: 18px;
      margin-bottom: 50px;
    }

    .box {
      .heading {
        font-size: 16px;
      }

      .content {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 40px;
      }

      .icon {
        width: 100px;
        height: 85px;
      }
    }

    .button {
      a {
        padding: 12px 20px;
        font-size: 12px;
        margin-top: 0px;
      }
    }
  }

  .third-section {
    padding: 40px 0;
    text-align: center;

    .info-video {
      margin-top: 50px;
      padding: 0 20px;
    }

    .heading {
      font-size: 22px;
      font-weight: 400;
    }

    .subheading {
      font-size: 14px;
      margin-bottom: 0px;
      line-height: 20px;
      font-weight: 400;
    }

    .button {
      a {
        padding: 12px 20px;
        font-size: 12px;
        margin-top: 30px;
      }
    }

    .book-image {
      width: 150px;
      margin-top: 50px;
    }
  }

  .left-section {
    margin-top: 30px;
    min-height: 400px;
    background-position: 100%;
    padding: 60px 0;

    .box {
      padding: 20px;
      border-radius: 4px;

      .title {
        font-size: 22px;
      }

      .subtitle {
        font-size: 14px;
      }

      .button {
        a {
          padding: 12px 20px;
          font-size: 12px;
        }
      }
    }
  }

  .right-section {
    margin-top: 30px;
    min-height: 400px;
    padding: 60px 0;

    .box {
      padding: 20px;
      border-radius: 4px;

      .title {
        font-size: 22px;
      }

      .subtitle {
        font-size: 14px;
      }

      .button {
        a {
          padding: 12px 20px;
          font-size: 12px;
        }
      }
    }
  }

  .client-container {
    margin-top: 30px;

    .client-Details {
      margin-top: 15px;

      .heading {
        font-size: 22px;
      }

      .content {
        margin-top: 20px;
        font-size: 14px;
      }

      .client-name {
        margin-top: 20px;
        font-size: 12px;
      }
    }
  }

  .massage-container {
    margin-top: 0px;
    padding: 40px 0px;

    .heading {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .subheading {
      font-size: 22px;
      margin-bottom: 18px;
    }

    .subtitle {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 24px;
    }

    .form_wrapeer {
      width: 100%;

      .button {
        font-size: 14px;
      }

      textarea {
        height: 120px;
      }

      .input-wrap {
        text-align: center;

        .button {
          width: auto;
          padding: 12px 40px;
          margin-top: 40px;
        }
      }

      .errorMsg {
        &.error {
          top: 88px;
        }
      }
    }

    &.blog {
      padding: 40px 0;

      .comment-heading {
        font-size: 28px;
      }

      .comment-subheading {
        font-size: 14px;
      }

      .form_wrapeer {
        width: 100%;
      }
    }
  }

  .footer {
    padding: 20px 0 0 0;

    .footer-link {
      ul {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        li {
          text-align: center;
          width: 100%;

          &.title {
            text-align: center;

            span {
              padding-right: 0;
            }
          }

          &.socail-icon {
            background: #fff;
            padding: 20px 0;
            margin: 30px 0 0 -15px;
            width: calc(100% + 30px);
            justify-content: center;

            a {
              width: 100%;
            }
          }
        }
      }
    }

    .footer-logo {
      display: none;
    }
  }

  .chatbox {
    width: 60px;
    right: 15px;

    span {
      display: none;
    }
  }

  .lopin-container {
    margin-top: 50px;

    .banner {
      padding-top: 60%;
      background-position: center center;

      &.ebook {
        background-position: 100% 0%;
        background-image: url(../../img/m-e-book.jpg);
        padding-top: 64%;
      }

      &.course {
        background-position: 100% 0%;
        background-image: url(../../img/m-startnetworking.jpg);
        padding-top: 100%;
      }

      &.blog {
        background-position: 100% 0%;
        background-image: url(../../img/m-blog.jpg);
        padding-top: 80%;

        .banner-content {
          padding-bottom: 30px;

          .heading {
            color: #000;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
          }

          .subtitle {
            font-size: 14px;
            color: #4a4e4d;
            text-align: center;
          }
        }
      }

      .banner-content {
        position: relative;
        transform: none;
        top: auto;

        .heading {
          font-size: 16px;
          text-align: center;

          &.course {
            font-size: 14px;
          }
        }

        .subcontent {
          font-size: 10px;
          font-weight: 400;
          text-align: center;
          margin: 10px 0;
        }

        .download {
          width: 150px;
          height: 44px;
          line-height: 44px;
          font-size: 12px;
          text-transform: uppercase;
          margin: 20px auto;
          margin-top: 10px;
        }
      }
    }

    .content-details {
      padding: 40px 0;

      .heading {
        font-size: 26px;
        margin-bottom: 30px;

        &.ebook {
          font-size: 16px;
        }

        &.course {
          font-size: 16px;
        }
      }

      .subtitle {
        font-size: 16px;
        margin-bottom: 20px;
      }

      ul.point {
        li {
          font-size: 14px;
        }
      }

      .content-wrapper {
        .content {
          font-size: 14px;

          .subheading {
            font-size: 20px;
          }
        }

        .title {
          font-size: 16px;
        }

        .view-content {
          font-size: 14px;
        }
      }

      .form_wrapeer {
        margin-top: 20px;
        padding: 20px;

        .offer {
          font-size: 16px;

          span {
            font-size: 24px;
          }
        }

        .heading {
          padding: 10px 0;
          font-size: 18px;
        }

        .input-wrap {
          width: 100%;
        }

        input[type="text"] {
          height: 38px;
          line-height: 38px;
        }

        .button {
          margin-top: 10px;
          width: auto;
          padding: 14px 20px;
          font-size: 12px;
        }
      }
    }

    .popup-image {
      margin-top: 30px;
    }

    .blog-container {
      margin: 0px 0 0 0;

      .blog {
        margin-bottom: 36px;

        .blog-content {
          .blog-date {
            font-size: 14px;
          }

          .blog-heading {
            font-size: 18px;
          }

          .blog-subheading {
            font-size: 14px;
          }
        }
      }

      .latest-news {
        margin-top: 30px;

        .news-heading {
          font-size: 24px;
        }

        .news {
          .news-content {
            font-size: 16px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .pagination {
      margin-bottom: 30px;

      li {
        margin: 0;

        &.next {
          a {
            font-size: 16px;
          }
        }

        &.previous {
          a {
            font-size: 16px;
          }
        }

        a {
          font-size: 16px;
        }
      }
    }
  }

  .cart-container {
    margin-top: 50px;

    .cart-details {
      padding: 0 0 20px 0;

      .breadcrumbs {
        padding: 12px 20px;
        margin: 0 -15px;
        background: #dcbb8b;

        ul {
          li {
            vertical-align: middle;
            font-size: 12px;
            color: #885811;

            &.arrow {
              width: 7px;
              height: 7px;
              border-top: 2px solid #fff;
              border-right: 2px solid #fff;
              margin-left: 8px;
            }

            &.active {
              color: #fff;
            }
          }
        }
      }

      .heading {
        margin-top: 20px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.6);
        padding: 8px 0;
        border-bottom: 1px solid #f2f2f2;
      }

      table {
        width: 100%;

        td {
          padding: 12px;
          font-size: 16px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.6);
        }

        &.price-details {
          td.price {
            text-align: right;
          }

          td.total {
            border-top: 1px solid #f2f2f2;
            font-size: 16px;
            color: rgba(0, 0, 0, 1);
            font-weight: 500;
            border-bottom: 1px solid #f2f2f2;
          }
        }
      }

      button.pay {
        width: 160px;
        border-radius: 5px;
        background-color: #fe5b00;
        font-size: 14px;
        padding: 16px 0px;
        box-shadow: 1px 1px 0 0 rgba(65, 23, 0, 0.44);
        float: right;
        font-weight: 500;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;
        outline: none;
        border: none;
        color: #ffffff;
        margin-top: 25px;
        display: inline-block;
        margin-bottom: 50px;
      }
    }

    &+.footer {
      display: none;
    }
  }

  .pricing-container {
    margin-top: 50px;

    .price-heading {
      font-size: 26px;
      margin: 15px 0 15px 0;
    }

    .pricing-table {
      // width: 90%;

      ul {
        width: 100%;

        .heading {
          font-size: 20px;
          padding: 20px 0;
        }

        &.highlight-high {
          margin-top: 30px;
        }

        &.highlight-medium {
          margin-top: 30px;
          margin-left: 0;
        }
      }
    }
  }

  .error {
    padding-top: 40px;

    .heading {
      font-size: 36px;
    }

    .subheading {
      font-size: 22px;
    }

    .goback {
      font-size: 16px;
      margin-top: 40px;
    }

    .image-container {
      margin-top: 80px;
      min-height: 350px;
      position: relative;
      background-image: url(../../img/image-errors.jpg);
      background-position: 50% -15%;

      .image-first {
        min-height: 350px;
        position: relative;
        background-image: url(../../img/image-21.png);
        background-repeat: no-repeat;
        background-position: 30% -50%;
      }
    }
  }

  a.bm-item.menu-item.active {
    color: #ff5900 !important;
    font-weight: 500 !important;
  }

  .bm-item.signout {
    // color: #0097ff !important;
    font-weight: 500 !important;
  }

  .login-container {
    .login-title {
      margin-right: 0;
    }

    .divider {
      .line {
        width: 40%;
      }
    }

    .g-btn {
      width: 70%;
    }

    .login-wrapper {
      .header {
        font-size: 32px;
      }

      .subheader {
        font-size: 14px;
      }

      .divider {
        .line {
          width: 140px;
        }
      }
    }

    .login-footer {
      .heading {
        margin-top: 20px;
        font-size: 16px;
      }

      .subheading {
        width: 100%;
      }
    }
  }

  .testimonial {
    padding: 40px 0;

    .info-container {
      margin-bottom: 0px;

      .heading {
        color: rgb(10, 10, 10);
        font-size: 21px;
        font-weight: 400;
        letter-spacing: -0.7px;
        line-height: 31px;
        text-align: center;
      }

      .subheading {
        color: rgb(175, 175, 175);
        font-size: 12px;
        font-weight: 400;
        margin-top: 2px;
        letter-spacing: -0.4px;
        line-height: 18px;
        text-align: center;
      }
    }
  }

  .testmonial-outer-wrap {
    overflow: hidden;
    background-size: 40%;
    background-position: center 20%;

    .custom-test {
      padding: 30px 0;
    }

    .swiper-container {
      padding-bottom: 30px;

      .swiper-pagination.customized-swiper-pagination {
        bottom: -3px;

        .swiper-pagination-bullet-active {
          background: transparent;
        }

        .swiper-pagination-bullet {
          width: 40px;
          height: 40px;
          margin: 0 12px;
          background: none;
          outline: none;

          &:nth-child(1) {
            background-image: url("../../img/placeholder/2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }

          &:nth-child(2) {
            background-image: url("../../img/placeholder/1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }

          // &:nth-child(3) {
          //   background-image: url("../../img/placeholder/3.png");
          //   background-repeat: no-repeat;
          //   background-size: cover;
          // }
          // &:nth-child(4) {
          //   background-image: url("../../img/placeholder/4.png");
          //   background-repeat: no-repeat;
          //   background-size: cover;
          // }
          // &:nth-child(5) {
          //   background-image: url("../../img/placeholder/1.jpg");
          //   background-repeat: no-repeat;
          //   background-size: cover;
          // }
        }
      }
    }

    width: 100%;

    .image {
      float: none;
      margin: 0 auto;
      width: 110px;
      height: 110px;

      .icon {
        transform: translate(-50%, -50%) scale(0.5);
      }
    }

    .text {
      background: transparent;
      padding: 0;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.47px;
      line-height: 21px;
    }

    .name {
      text-align: center;

      .title {
        color: rgb(46, 46, 46);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.47px;
        line-height: 21px;
      }

      .subtitle {
        color: rgb(94, 94, 94);
        font-size: 11px;
        font-weight: 400;
        letter-spacing: -0.37px;
        line-height: 17px;
      }

      font-size: 12px;
      margin-top: 32px;
      line-height: 19px;
    }
  }

  .first-box-section {
    // margin-top: -30px;
    text-align: center;

    .box {
      padding: 40px 15px;

      // border-radius: 10px;
      .heading {
        font-size: 16px;
        font-weight: 500;
      }

      .content {
        font-size: 12px;
        margin-bottom: 0px;
        font-weight: 500;
      }

      .button {
        a {
          padding: 12px 20px;
          font-size: 12px;
          margin-top: 30px;
        }
      }
    }
  }

  .popup {
    padding: 0;

    .popup_inner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 6px;
      height: auto;
      width: 100%;
    }

    .vodal-close {
      right: 10px;
      top: -30px;
    }
  }

  .sample-book {
    padding: 30px 15px;
    background: #0097ff;

    .heading {
      color: #ffffff;
      font-size: 22px;
      text-align: center;
    }

    .subheading {
      font-weight: 300;
      color: #ffffff;
      font-size: 16px;
      text-align: center;
      margin-top: 5px;
    }

    .preview {
      text-align: center;
      position: relative;
      height: 100%;
      margin-top: 30px;

      .button {
        position: relative;
        top: unset;
        left: unset;
        transform: none;
        width: 100%;

        a {
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          padding: 12px 20px;
          background: #fe5b00;
          border-radius: 6px;
          border: none;
          cursor: pointer;
          outline: none;
          text-transform: uppercase;
        }
      }
    }
  }

  .about-author {
    padding: 50px 0 80px 0;

    .heading {
      font-size: 22px;
      color: #4a4e4d;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
      position: relative;
      padding-bottom: 15px;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background: #0097ff;
        bottom: 0;
        left: calc(50% - 20px);
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
      }
    }

    .visionary-section {
      margin-top: 40px;
      padding: 40px 30px 40px 30px;
      background: #fff;
      border-radius: 6px;
      display: block;
      flex-direction: unset;
      height: auto;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      }

      .wrap {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .visionary-imgb {
        width: 120px;
        height: 100px;
        border-radius: 100px;
        background: #4a4e4d;
        background-size: cover;

        &.sajeev {
          background-image: url(../../img/profile.png);
        }
      }

      .visionary-txtb {
        font-size: 18px;
        color: #59595c;
        width: 70%;
        margin-left: 20px;
        margin-top: 10px;
        font-weight: 400;

        span {
          display: block;
          margin-top: 5px;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 4px;
        }
      }

      p {
        font-size: 12px;
        color: #59595c;
        line-height: 22px;
        margin-top: 30px;
      }
    }
  }

  .about-container {
    margin-top: 50px;

    .aboutus {
      min-height: 300px;
      font-size: 16px;
    }

    #about-first {
      padding: 40px 0;

      .about-details {
        margin-top: 20px;

        .heading {
          font-size: 22px;
        }

        .subheading {
          font-size: 16px;
        }
      }

      .bullets {
        .name {
          font-size: 16px;
        }

        .content {
          font-size: 14px;
        }
      }

      .section-header {
        h3 {
          font-size: 22px;
        }
      }
    }

    #about {
      .section-header {
        h3 {
          font-size: 22px;
        }
      }
    }
  }
}